.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
htmlcov/
.coverage
*.deb
debian/.debhelper/
debian/*.debhelper
debian/files
debian/pyqt6-stylizer/
debian/tmp/
.DS_Store
.idea/
.vscode/
